In [32]:
from pulp import *
import pandas as pd

In [47]:
human = pd.read_csv("datasets/simple_hr/hr_data - human.csv")
section = pd.read_csv("datasets/simple_hr/hr_data - section.csv")

In [48]:
human.head()

   id  cost  skill_a  skill_b  skill_c  skill_d
0   1     5        1        1        0        0
1   2     3        0        0        1        0
2   3     4        0        1        0        1
3   4     2        1        0        0        0
4   5     5        0        0        1        1

In [49]:
human["num"] =  1
human.head()

   id  cost  skill_a  skill_b  skill_c  skill_d  num
0   1     5        1        1        0        0    1
1   2     3        0        0        1        0    1
2   3     4        0        1        0        1    1
3   4     2        1        0        0        0    1
4   5     5        0        0        1        1    1

In [50]:
section.head()

   id  num
0   1    5
1   2    5
2   3    4
3   4    3
4   5    3

In [157]:
m = LpProblem() # 部署ごとのコストを最小化する
# 最小化
for i in range(0, len(section)):
    human["section_%d"%i] = [LpVariable("v%d_%d"%(i,j), cat="Integer", upBound=1, lowBound=0) for j in human.index]
human.head()

,id,cost,skill_a,skill_b,skill_c,skill_d,num,section_0,section_1,section_2,section_3,section_4,section_0_v,section_1_v,section_2_v,section_3_v,section_4_v
0,1,5,1,1,0,0,1,v0_0,v1_0,v2_0,v3_0,v4_0,0.0,0.0,0.0,1.0,0.0
1,2,3,0,0,1,0,1,v0_1,v1_1,v2_1,v3_1,v4_1,0.0,0.0,0.0,1.0,0.0
2,3,4,0,1,0,1,1,v0_2,v1_2,v2_2,v3_2,v4_2,0.0,1.0,0.0,0.0,0.0
3,4,2,1,0,0,0,1,v0_3,v1_3,v2_3,v3_3,v4_3,0.0,1.0,0.0,0.0,0.0
4,5,5,0,0,1,1,1,v0_4,v1_4,v2_4,v3_4,v4_4,0.0,0.0,0.0,-2.0,0.0

In [158]:
# 最小化
cost = None
for i in range(0, len(section)):
    cost += lpDot(human.cost, human["section_%d"%i])
m+= cost

In [159]:
# for index, row in section.iterrows():
#     m += lpSum(human["section_%d"%index])==row.num

In [160]:
for index, row in human.iterrows():
    m += (row.section_0+row.section_1+row.section_2+row.section_3)==1

In [161]:
pulp.LpStatus[m.solve()]

'Optimal'

In [162]:
human['section_0_v'] = human.section_0.apply(value)
human['section_1_v'] = human.section_1.apply(value)
human['section_2_v'] = human.section_2.apply(value)
human['section_3_v'] = human.section_3.apply(value)
human['section_4_v'] = human.section_4.apply(value)

In [163]:
human

,id,cost,skill_a,skill_b,skill_c,skill_d,num,section_0,section_1,section_2,section_3,section_4,section_0_v,section_1_v,section_2_v,section_3_v,section_4_v
0,1,5,1,1,0,0,1,v0_0,v1_0,v2_0,v3_0,v4_0,0.0,0.0,1.0,0.0,0.0
1,2,3,0,0,1,0,1,v0_1,v1_1,v2_1,v3_1,v4_1,0.0,0.0,0.0,1.0,0.0
2,3,4,0,1,0,1,1,v0_2,v1_2,v2_2,v3_2,v4_2,0.0,0.0,0.0,1.0,0.0
3,4,2,1,0,0,0,1,v0_3,v1_3,v2_3,v3_3,v4_3,0.0,0.0,1.0,0.0,0.0
4,5,5,0,0,1,1,1,v0_4,v1_4,v2_4,v3_4,v4_4,0.0,0.0,0.0,1.0,0.0
5,6,1,1,0,0,0,1,v0_5,v1_5,v2_5,v3_5,v4_5,0.0,0.0,1.0,0.0,0.0
6,7,2,0,0,0,0,1,v0_6,v1_6,v2_6,v3_6,v4_6,0.0,1.0,0.0,0.0,0.0
7,8,3,0,0,0,0,1,v0_7,v1_7,v2_7,v3_7,v4_7,1.0,0.0,0.0,0.0,0.0
8,9,6,0,1,1,1,1,v0_8,v1_8,v2_8,v3_8,v4_8,0.0,0.0,0.0,1.0,0.0
9,10,2,0,0,0,0,1,v0_9,v1_9,v2_9,v3_9,v4_9,0.0,0.0,0.0,1.0,0.0
10,11,4,0,0,0,0,1,v0_10,v1_10,v2_10,v3_10,v4_10,0.0,0.0,0.0,1.0,0.0
11,12,3,0,0,0,0,1,v0_11,v1_11,v2_11,v3_11,v4_11,0.0,0.0,1.0,0.0,0.0
12,13,2,0,0,0,0,1,v0_12,v1_12,v2_12,v3_12,v4_12,1.0,0.0,0.0,0.0,0.0
13,14,4,0,0,0,0,1,v0_13,v1_13,v2_13,v3_13,v4_13,1.0,0.0,0.0,0.0,0.0
14,15,7,1,1,0,1,1,v0_14,v1_14,v2_14,v3_14,v4_14,0.0,0.0,1.0,0.0,0.0
15,16,3,0,0,0,0,1,v0_15,v1_15,v2_15,v3_15,v4_15,0.0,0.0,1.0,0.0,0.0
16,17,2,0,0,0,0,1,v0_16,v1_16,v2_16,v3_16,v4_16,0.0,0.0,1.0,0.0,0.0
17,18,5,1,0,1,0,1,v0_17,v1_17,v2_17,v3_17,v4_17,0.0,1.0,0.0,0.0,0.0
18,19,6,0,1,0,1,1,v0_18,v1_18,v2_18,v3_18,v4_18,0.0,0.0,1.0,0.0,0.0
19,20,4,1,0,0,1,1,v0_19,v1_19,v2_19,v3_19,v4_19,1.0,0.0,0.0,0.0,0.0

In [164]:
human[human.section_0_v==1]

,id,cost,skill_a,skill_b,skill_c,skill_d,num,section_0,section_1,section_2,section_3,section_4,section_0_v,section_1_v,section_2_v,section_3_v,section_4_v
7,8,3,0,0,0,0,1,v0_7,v1_7,v2_7,v3_7,v4_7,1.0,0.0,0.0,0.0,0.0
12,13,2,0,0,0,0,1,v0_12,v1_12,v2_12,v3_12,v4_12,1.0,0.0,0.0,0.0,0.0
13,14,4,0,0,0,0,1,v0_13,v1_13,v2_13,v3_13,v4_13,1.0,0.0,0.0,0.0,0.0
19,20,4,1,0,0,1,1,v0_19,v1_19,v2_19,v3_19,v4_19,1.0,0.0,0.0,0.0,0.0

In [166]:
human[human.section_1_v==1]

,id,cost,skill_a,skill_b,skill_c,skill_d,num,section_0,section_1,section_2,section_3,section_4,section_0_v,section_1_v,section_2_v,section_3_v,section_4_v
6,7,2,0,0,0,0,1,v0_6,v1_6,v2_6,v3_6,v4_6,0.0,1.0,0.0,0.0,0.0
17,18,5,1,0,1,0,1,v0_17,v1_17,v2_17,v3_17,v4_17,0.0,1.0,0.0,0.0,0.0

In [167]:
human[human.section_2_v==1]

,id,cost,skill_a,skill_b,skill_c,skill_d,num,section_0,section_1,section_2,section_3,section_4,section_0_v,section_1_v,section_2_v,section_3_v,section_4_v
0,1,5,1,1,0,0,1,v0_0,v1_0,v2_0,v3_0,v4_0,0.0,0.0,1.0,0.0,0.0
3,4,2,1,0,0,0,1,v0_3,v1_3,v2_3,v3_3,v4_3,0.0,0.0,1.0,0.0,0.0
5,6,1,1,0,0,0,1,v0_5,v1_5,v2_5,v3_5,v4_5,0.0,0.0,1.0,0.0,0.0
11,12,3,0,0,0,0,1,v0_11,v1_11,v2_11,v3_11,v4_11,0.0,0.0,1.0,0.0,0.0
14,15,7,1,1,0,1,1,v0_14,v1_14,v2_14,v3_14,v4_14,0.0,0.0,1.0,0.0,0.0
15,16,3,0,0,0,0,1,v0_15,v1_15,v2_15,v3_15,v4_15,0.0,0.0,1.0,0.0,0.0
16,17,2,0,0,0,0,1,v0_16,v1_16,v2_16,v3_16,v4_16,0.0,0.0,1.0,0.0,0.0
18,19,6,0,1,0,1,1,v0_18,v1_18,v2_18,v3_18,v4_18,0.0,0.0,1.0,0.0,0.0

In [168]:
human[human.section_3_v==1]

,id,cost,skill_a,skill_b,skill_c,skill_d,num,section_0,section_1,section_2,section_3,section_4,section_0_v,section_1_v,section_2_v,section_3_v,section_4_v
1,2,3,0,0,1,0,1,v0_1,v1_1,v2_1,v3_1,v4_1,0.0,0.0,0.0,1.0,0.0
2,3,4,0,1,0,1,1,v0_2,v1_2,v2_2,v3_2,v4_2,0.0,0.0,0.0,1.0,0.0
4,5,5,0,0,1,1,1,v0_4,v1_4,v2_4,v3_4,v4_4,0.0,0.0,0.0,1.0,0.0
8,9,6,0,1,1,1,1,v0_8,v1_8,v2_8,v3_8,v4_8,0.0,0.0,0.0,1.0,0.0
9,10,2,0,0,0,0,1,v0_9,v1_9,v2_9,v3_9,v4_9,0.0,0.0,0.0,1.0,0.0
10,11,4,0,0,0,0,1,v0_10,v1_10,v2_10,v3_10,v4_10,0.0,0.0,0.0,1.0,0.0

In [169]:
human[human.section_4_v==1]

Empty DataFrame
Columns: [id, cost, skill_a, skill_b, skill_c, skill_d, num, section_0, section_1, section_2, section_3, section_4, section_0_v, section_1_v, section_2_v, section_3_v, section_4_v]
Index: []

In [143]:
print(m)

NoName:
MINIMIZE
None
SUBJECT TO
_C1: v0_0 + v0_1 + v0_10 + v0_11 + v0_12 + v0_13 + v0_14 + v0_15 + v0_16
 + v0_17 + v0_18 + v0_19 + v0_2 + v0_3 + v0_4 + v0_5 + v0_6 + v0_7 + v0_8
 + v0_9 = 5

_C2: v1_0 + v1_1 + v1_10 + v1_11 + v1_12 + v1_13 + v1_14 + v1_15 + v1_16
 + v1_17 + v1_18 + v1_19 + v1_2 + v1_3 + v1_4 + v1_5 + v1_6 + v1_7 + v1_8
 + v1_9 = 5

_C3: v2_0 + v2_1 + v2_10 + v2_11 + v2_12 + v2_13 + v2_14 + v2_15 + v2_16
 + v2_17 + v2_18 + v2_19 + v2_2 + v2_3 + v2_4 + v2_5 + v2_6 + v2_7 + v2_8
 + v2_9 = 4

_C4: v3_0 + v3_1 + v3_10 + v3_11 + v3_12 + v3_13 + v3_14 + v3_15 + v3_16
 + v3_17 + v3_18 + v3_19 + v3_2 + v3_3 + v3_4 + v3_5 + v3_6 + v3_7 + v3_8
 + v3_9 = 3

_C5: v4_0 + v4_1 + v4_10 + v4_11 + v4_12 + v4_13 + v4_14 + v4_15 + v4_16
 + v4_17 + v4_18 + v4_19 + v4_2 + v4_3 + v4_4 + v4_5 + v4_6 + v4_7 + v4_8
 + v4_9 = 3

_C6: v0_0 + v1_0 + v2_0 + v3_0 = 1

_C7: v0_1 + v1_1 + v2_1 + v3_1 = 1

_C8: v0_2 + v1_2 + v2_2 + v3_2 = 1

_C9: v0_3 + v1_3 + v2_3 + v3_3 = 1

_C10: v0_4 + v1_4 + v2_4 + v3_4 = 1

_C11: v0_5 + v1_5 + v2_5 + v3_5 = 1

_C12: v0_6 + v1_6 + v2_6 + v3_6 = 1

_C13: v0_7 + v1_7 + v2_7 + v3_7 = 1

_C14: v0_8 + v1_8 + v2_8 + v3_8 = 1

_C15: v0_9 + v1_9 + v2_9 + v3_9 = 1

_C16: v0_10 + v1_10 + v2_10 + v3_10 = 1

_C17: v0_11 + v1_11 + v2_11 + v3_11 = 1

_C18: v0_12 + v1_12 + v2_12 + v3_12 = 1

_C19: v0_13 + v1_13 + v2_13 + v3_13 = 1

_C20: v0_14 + v1_14 + v2_14 + v3_14 = 1

_C21: v0_15 + v1_15 + v2_15 + v3_15 = 1

_C22: v0_16 + v1_16 + v2_16 + v3_16 = 1

_C23: v0_17 + v1_17 + v2_17 + v3_17 = 1

_C24: v0_18 + v1_18 + v2_18 + v3_18 = 1

_C25: v0_19 + v1_19 + v2_19 + v3_19 = 1

VARIABLES
__dummy = 0 Continuous
0 <= v0_0 <= 1 Integer
0 <= v0_1 <= 1 Integer
0 <= v0_10 <= 1 Integer
0 <= v0_11 <= 1 Integer
0 <= v0_12 <= 1 Integer
0 <= v0_13 <= 1 Integer
0 <= v0_14 <= 1 Integer
0 <= v0_15 <= 1 Integer
0 <= v0_16 <= 1 Integer
0 <= v0_17 <= 1 Integer
0 <= v0_18 <= 1 Integer
0 <= v0_19 <= 1 Integer
0 <= v0_2 <= 1 Integer
0 <= v0_3 <= 1 Integer
0 <= v0_4 <= 1 Integer
0 <= v0_5 <= 1 Integer
0 <= v0_6 <= 1 Integer
0 <= v0_7 <= 1 Integer
0 <= v0_8 <= 1 Integer
0 <= v0_9 <= 1 Integer
0 <= v1_0 <= 1 Integer
0 <= v1_1 <= 1 Integer
0 <= v1_10 <= 1 Integer
0 <= v1_11 <= 1 Integer
0 <= v1_12 <= 1 Integer
0 <= v1_13 <= 1 Integer
0 <= v1_14 <= 1 Integer
0 <= v1_15 <= 1 Integer
0 <= v1_16 <= 1 Integer
0 <= v1_17 <= 1 Integer
0 <= v1_18 <= 1 Integer
0 <= v1_19 <= 1 Integer
0 <= v1_2 <= 1 Integer
0 <= v1_3 <= 1 Integer
0 <= v1_4 <= 1 Integer
0 <= v1_5 <= 1 Integer
0 <= v1_6 <= 1 Integer
0 <= v1_7 <= 1 Integer
0 <= v1_8 <= 1 Integer
0 <= v1_9 <= 1 Integer
0 <= v2_0 <= 1 Integer
0 <= v2_1 <= 1 Integer
0 <= v2_10 <= 1 Integer
0 <= v2_11 <= 1 Integer
0 <= v2_12 <= 1 Integer
0 <= v2_13 <= 1 Integer
0 <= v2_14 <= 1 Integer
0 <= v2_15 <= 1 Integer
0 <= v2_16 <= 1 Integer
0 <= v2_17 <= 1 Integer
0 <= v2_18 <= 1 Integer
0 <= v2_19 <= 1 Integer
0 <= v2_2 <= 1 Integer
0 <= v2_3 <= 1 Integer
0 <= v2_4 <= 1 Integer
0 <= v2_5 <= 1 Integer
0 <= v2_6 <= 1 Integer
0 <= v2_7 <= 1 Integer
0 <= v2_8 <= 1 Integer
0 <= v2_9 <= 1 Integer
0 <= v3_0 <= 1 Integer
0 <= v3_1 <= 1 Integer
0 <= v3_10 <= 1 Integer
0 <= v3_11 <= 1 Integer
0 <= v3_12 <= 1 Integer
0 <= v3_13 <= 1 Integer
0 <= v3_14 <= 1 Integer
0 <= v3_15 <= 1 Integer
0 <= v3_16 <= 1 Integer
0 <= v3_17 <= 1 Integer
0 <= v3_18 <= 1 Integer
0 <= v3_19 <= 1 Integer
0 <= v3_2 <= 1 Integer
0 <= v3_3 <= 1 Integer
0 <= v3_4 <= 1 Integer
0 <= v3_5 <= 1 Integer
0 <= v3_6 <= 1 Integer
0 <= v3_7 <= 1 Integer
0 <= v3_8 <= 1 Integer
0 <= v3_9 <= 1 Integer
0 <= v4_0 <= 1 Integer
0 <= v4_1 <= 1 Integer
0 <= v4_10 <= 1 Integer
0 <= v4_11 <= 1 Integer
0 <= v4_12 <= 1 Integer
0 <= v4_13 <= 1 Integer
0 <= v4_14 <= 1 Integer
0 <= v4_15 <= 1 Integer
0 <= v4_16 <= 1 Integer
0 <= v4_17 <= 1 Integer
0 <= v4_18 <= 1 Integer
0 <= v4_19 <= 1 Integer
0 <= v4_2 <= 1 Integer
0 <= v4_3 <= 1 Integer
0 <= v4_4 <= 1 Integer
0 <= v4_5 <= 1 Integer
0 <= v4_6 <= 1 Integer
0 <= v4_7 <= 1 Integer
0 <= v4_8 <= 1 Integer
0 <= v4_9 <= 1 Integer